<section class="contato-container">
  <h1 class="titulo-contato">Contato</h1>
  
  <form class="formulario-contato" [formGroup]="contatoForm" (ngSubmit)="enviarMensagem()">
    <div class="form-group" style="--order: 1">
      <label for="nome">Nome</label>
      <input type="text" id="nome" formControlName="nome" placeholder="Seu nome completo">
      @if (contatoForm.get('nome')?.errors?.['required'] && contatoForm.get('nome')?.touched) {
        <small>Por favor, insira seu nome</small>
      }
    </div>

    <div class="form-group" style="--order: 2">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" placeholder="seu@email.com">
      @if (contatoForm.get('email')?.errors?.['required'] && contatoForm.get('email')?.touched) {
        <small>Por favor, insira seu email</small>
      }
      @if (contatoForm.get('email')?.errors?.['email'] && contatoForm.get('email')?.touched) {
        <small>Insira um email válido</small>
      }
    </div>

    <div class="form-group" style="--order: 3">
      <label for="mensagem">Mensagem</label>
      <textarea id="mensagem" formControlName="mensagem" rows="5" 
                placeholder="Como podemos te ajudar?"></textarea>
      @if (contatoForm.get('mensagem')?.errors?.['required'] && contatoForm.get('mensagem')?.touched) {
        <small>Por favor, escreva sua mensagem</small>
      }
    </div>

    <button type="submit" [disabled]="contatoForm.invalid" style="--order: 4">
      Enviar Mensagem
    </button>
  </form>
</section>